@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i&display=swap');


h1{
    text-align: center;
    font-family: 'Open Sans';
    background-color: rgb(228, 228, 228);
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
}

div{
    color: white;
    text-align: center;
}

input{   
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.stlpec{
    margin-top: 50px;
    width: 50%;
    float: left;
}

body {
    font-size: 16px;
    font-family: 'Open Sans';

    margin: 0px;
}

.napoveda {
    visibility: hidden;
  z-index: 1;
}

.stlpec:hover .napoveda{
    visibility: visible;
}

#meniny, #ukazDatum{
    margin-top: 200px;
}

#visitcounter{
    position: relative;
    bottom: -1em;
    right: 1em;
}

canvas {
    border: 1px solid white;
  }
  
nav ul li{
    display: inline;
    font-size: xx-large;
    padding-right: 25px;
    
 
}

nav{
    position: relative;
    top: 0em;
    right: -27em;
    font-size: xx-large;
    margin: 2px;

}

#Canvas1{
    background-image: "/images/krizovatka1.png";
}
footer  {
    text-align: center;
    padding: 3px;
    background: #4CA1AF;  
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); 
    position: fixed;
    bottom: 0em;
    width: 100%;
        
    }
    
    footer ul li {
        list-style-type: none;
        display: inline;
        padding-right: 25px;
    }

    #vylustenieKrizovatky{
        height: 2em;
        width: 2em;
        color:red ;
    }
